body {
    backdground-color: #f48916;
}

@media (max-width: 1080px) {
    body {
        background-color: #ffb41e;
    }
}

@media (max-width: 550px) {
    body {
        background-color: #4dffff;
    }
}

@media (max-width: 400px) {
    body {
        background-color: #6666ff;
    }
}
